@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-family: 'Inter', 'Poppins', ui-sans-serif, system-ui, sans-serif;
  background-color: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

body {
 transition: all 0.3s ease;
}

.dark {
 background: #111827;
 color: white;
}

.dark .card {
 background: #1f2937;
 color: white;
}

.dark .table {
 background: #1f2937;
 color: white;
}